html, body {
	background-color: #2f4f30;
	color: white;
	overflow-x: hidden;
	margin: 0;
}
.mycard {
	position: relative;
	left: 100px;
	margin-left: -75px;
	width: 150px;
}
.title {
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 20px;
	justify-content: center;
	text-transform: uppercase;
}
.msg {
	color: yellow;
	width: 100%;
}
#player-cards, #computer-cards {
	min-height: 250px;
	overflow-x: auto;
}