html, body {
	background-color: #2f4f30;
	color: white;
	margin: 0;
}
.mycard {
	position: relative;
	left: 100px;
	margin-left: -75px;
	width: 150px;
}
.title {
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}
#player-cards, #computer-cards {
	height: 250px;
}